<div class="form-item">
  <label for="code" class="form-label">{{label}}</label>
  <div style="position: relative">
    <img [src]="selectBoxIconUrl" class="arrow" (click)="toggleDropdown()"/>
    <input type="text" [formControl]="formControl"
           class="dropdown"
           placeholder="{{ placeholder }}" readonly/>

    @if(isDropdownOpened) {
      <ul class="options" >
        <img src="assets/icons/custom-select/close.svg" class="close-button" (click)="toggleDropdown()"/>
        @for(item of items; track item.countryCode) {
          <li [value]="item.countryCode"
              (click)="selectItem(item)"
              [ngClass]="{ 'selected-item': selectedItem === item}">
            <span class="country-code"> +{{ item.countryCode }} </span>
            <span class="country-name">{{ item.countryName }}</span>
          </li>
        }
      </ul>
    }
  </div>
</div>
