.form-item {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  color: #4d4d4d;
  opacity: 0.5;
  margin-bottom: 5px;
}

.arrow {
  position: absolute;
  padding: 8px 6px;
  background-color: rgb(0,0,0,20%);
  border-radius: 50%;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 0 22px;
  display: flex;
}

li:hover, .selected-item {
  background-color: rgba(77, 77, 77, 0.5);
  color: white;
  font-weight: 400;
}

.country-code {
  font-size: 14px;
  font-weight: 700;
  width: 60px;
  margin-right: 22px;
  border-bottom: 1px solid;
  padding-top: 12px;
  padding-bottom: 12px;
}

.country-name {
  font-size: 14px;
  border-bottom: 1px solid;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
