@import "../../../variables";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto auto;
}

.breadcrumb {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  a {
    color: $font-color;
  }
}

.title {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 20px;
}

.additional-info {
  min-height: 144px;
  width: 100%;
  border: 1px solid $font-color;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 80px;

  .heading {
    color: white;
    background-color: #9F9F9F;
    font-size: 14px;
    font-weight: 700;
    min-height: 45px;
    box-shadow: 0px 0px 30px 10px #00000014;
    border-radius: 10px 10px 0 0;
  }
}

.additional-info-content {
  font-size: 14px;
  margin: 0;
  padding: 20px 30px;
  color: $font-color-dark;
}

.additional-info-heading {
  padding: 10px 30px;
  margin: 0;
}
