<app-header [userData]="userData"></app-header>
<main>
  <div class="breadcrumb">
    <a href="#">{{ 'SYSTEM.MAIN.BREADCRUMBS.BREADCRUMB1' | translate }}</a>
    <img src="../../../assets/icons/arrow-right.svg" />
    <a href="#">{{ 'SYSTEM.MAIN.BREADCRUMBS.BREADCRUMB2' | translate }}</a>
    <img src="../../../assets/icons/arrow-right.svg" />
    <a href="#" style="font-weight: 700">{{ 'SYSTEM.MAIN.BREADCRUMBS.BREADCRUMB3' | translate }}</a>
  </div>

  <div class="container">
    <p class="title">{{ 'SYSTEM.MAIN.TITLE' | translate }}</p>

    <app-bank-accounts [bankAccounts]="bankAccounts"></app-bank-accounts>

    <div class="additional-info">
      <div class="heading">
        <p class="additional-info-heading">{{ 'SYSTEM.MAIN.ADDITIONAL_INFO.HEADING' | translate }}</p>
      </div>

      @if (additionalData) {
        <p class="additional-info-content">{{additionalData.description}}</p>
      } @else {
        <p class="additional-info-content">{{ 'SYSTEM.MAIN.ADDITIONAL_INFO.NO_DATA' | translate }}</p>
      }
    </div>
  </div>
</main>
