<div class="container">
  <div class="main-section">
    <div class="logo-container">
      <img src="assets/main-logo.png" alt="ID logo"/>
      <p class="text">{{'LOGIN.TRANSACTIONS_MESSAGE_1' | translate}}
        <br>{{'LOGIN.TRANSACTIONS_MESSAGE_2' | translate}}
        <br>{{'LOGIN.TRANSACTIONS_MESSAGE_3' | translate}}<br>
      </p>
    </div>
  </div>

  <div class="login-section">
    <app-language-switcher class="languages"></app-language-switcher>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <p>{{ 'LOGIN.TITLE' | translate }}</p>
      <div class="form-container">
        <div class="phone-check-section">
          <div class="form-item">
            <label for="code" class="form-label">{{ 'LOGIN.SELECT_CODE' | translate }}</label>
            <div style="position: relative" appClickOutside (clickOutside)="closeSelectBox()">
              <img [src]="selectBoxIconUrl" class="arrow" (click)="openCloseSelectBox()"/>
              <input type="text" formControlName="code" class="dropdown"/>

              @if (isSelectBoxOpened) {
                <ul class="options">
                  <img src="assets/icons/custom-select/close.svg" class="close-button" (click)="openCloseSelectBox()"/>
                  @for(item of countryCodes; track item.countryCode; let index=$index) {
                    <li (click)="selectItem(item)" class="dropdown-item"
                        [ngClass]="{ 'selected-item': selectedItemIndex == index}">
                      <span class="country-code dropdown-item-content"> +{{ item.countryCode }} </span>
                      <span class="country-name dropdown-item-content">{{ item.countryName }}</span>
                    </li>
                  }
                </ul>
              }
            </div>
          </div>

          <div class="form-item">
            <label for="number" class="form-label">{{ 'LOGIN.ENTER_MOBILE_NUMBER' | translate }}</label>
            <input type="number" formControlName="number" class="username"/>
          </div>
        </div>

        @if (isPhoneChecked) {
          <div class="form-item">
            <label for="password" class="form-label">{{ 'LOGIN.ENTER_PASSWORD' | translate }}</label>
            <input type="password" formControlName="password" class="password"/>
          </div>
        }

        <div class="errors-group">
          @if (isButtonClicked && form.invalid && form.touched && !isPhoneChecked) {
            <div class="error">
              {{ 'LOGIN.ERROR.INVALID_CODE_AND_NUMBER' | translate }}
            </div>
          }

          @if (isButtonClicked && form.controls['number'].invalid && form.controls['number'].hasError('pattern')) {
            <div class="error">
              {{ 'LOGIN.ERROR.NUMBER_MUST_BE_8_DIGITS' | translate }}
            </div>
          }

          @if (isButtonClicked && form.invalid && form.touched && isPhoneChecked) {
            <div class="error">
              {{ 'LOGIN.ERROR.ALL_FIELDS_REQUIRED' | translate }}
            </div>
          }
        </div>
        <button class="submit-button">{{ !isPhoneChecked ? ('LOGIN.NEXT' | translate) : ('LOGIN.SUBMIT' | translate) }}</button>

      </div>
    </form>
  </div>
</div>
