@import "../../../variables";

.search-bar {
  position: relative;
  margin-bottom: 10px;
  float: right;
  display: inline-block;

  input {
    height: 33px;
    width: 260px;
    background-color: rgb(0,0,0, 5%);
    border-radius: 10px;
    color: $font-color;
    border: none;
    padding: 10px 10px 10px 30px;
  }

  img {
    height: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.data-table {
  border: 1px solid $accent-color;
  border-radius: 10px;
  padding: 0 17px;
  width: 100%;
  border-spacing: 0;
}

.bank-card {
  height: 54px;
  width: 88px;
  border-radius: 10px;
}

td {
  //line-height: 18px;
  border-bottom: 1px solid $accent-color;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
}

tr:last-child {
  td{
    border-bottom: 0;
  }
}

.heading {
  font-size: 12px;
  color: $font-color;
  opacity: 50%;
  margin: 0;
}

.column-data {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
}

.secret-data {
  display: flex;
  margin: 0;
  cursor: pointer;
  position: relative;
  gap: 10px;

  img {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid;
    height: 12px;
    align-items: center;
  }
}
