/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.options {
  z-index: 100;
  margin-top: 5px;
  padding: 42px 0 20px 0;
  width: 370px;
  height: 100px;
  overflow: auto;
  position: absolute;
  border: 1px solid white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17),
  0px 8px 20px -3px rgba(0, 0, 0, 0.15),
  0px -1.5px 0px 0px rgba(255, 255, 255, 0.25) inset,
  0px -0.5px 0px 0px rgba(0, 0, 0, 0.2) inset;
  backdrop-filter: blur(70px);
  border-radius: 15px 0 0 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.close-button {
  width: 10px;
  padding: 5px;
  float: right;
  margin: 3px;
  background-color: rgb(0,0,0,20%);;
  border-radius: 15px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 8px;
}

.dropdown-item {
  list-style-type: none;
  padding: 0 22px;
  display: flex;
  gap: 22px;
  color: $font-color-dark;
}

.dropdown-item:hover, selected-item {
  background-color: rgba(77, 77, 77, 0.5);
  color: white;
  font-weight: 400;
}

.dropdown-item-content {
  font-size: 14px;
  border-bottom: 1px solid;
  padding-top: 12px;
  padding-bottom: 12px;
}
